<div class="upload-control" ng-show="files.length < max">
    <div class="row">

    </div>
    <div class="dropbox" ng-class="dropClass">
        <span>{{dropText}} Or</span> 
        <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
    </div>
</div>
<div ng-show="files.length">
    <table class="table table-condensed table-hover" style="width: auto">
        <tr ng-repeat="file in files">
            <td><strong>{{file.webkitRelativePath || file.name}}</strong></td>
            <td>
                (<span ng-switch="file.size > 1024*1024">
                    <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                    <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                </span>)
            </td>
            <td><a class="btn btn-mini btn-danger" ng-click="removeFile(this)" >remove</a></td>
        </tr>
    </table>
    <input type="button" class="btn btn-info" ng-click="uploadFile()" value="Upload" />
    <div ng-show="progressVisible">
        <div class="percent">{{progress}}%</div>
        <div class="progress-bar">
            <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
        </div>
    </div>
</div>