<h1>Administration Panel</h1>
<div class="row">
    <div class="span3 bs-docs-sidebar">

        <ul class="nav nav-list bs-docs-sidenav affix">
            <li><a href="#overview"><i class="icon-chevron-right"></i> Control Panel</a></li>
            <li class=""><a href="#transitions"><i class="icon-chevron-right"></i> Pages</a></li>
            <li class=""><a href="#modals"><i class="icon-chevron-right"></i> Modal</a></li>
            <li class=""><a href="#dropdowns"><i class="icon-chevron-right"></i> Dropdown</a></li>
            <li><a href="#scrollspy"><i class="icon-chevron-right"></i> Scrollspy</a></li>
            <li class=""><a href="#tabs"><i class="icon-chevron-right"></i> Tab</a></li>
            <li class=""><a href="#tooltips"><i class="icon-chevron-right"></i> Tooltip</a></li>
            <li class=""><a href="#popovers"><i class="icon-chevron-right"></i> Popover</a></li>
            <li class=""><a href="#alerts"><i class="icon-chevron-right"></i> Alert</a></li>
            <li class=""><a href="#buttons"><i class="icon-chevron-right"></i> Button</a></li>
            <li class=""><a href="#collapse"><i class="icon-chevron-right"></i> Collapse</a></li>
            <li class=""><a href="#carousel"><i class="icon-chevron-right"></i> Carousel</a></li>
            <li class="active"><a href="#typeahead"><i class="icon-chevron-right"></i> Typeahead</a></li>
            <li><a href="#affix"><i class="icon-chevron-right"></i> Affix</a></li>
        </ul>

    </div>
    <div class="span9">
        <div class="row-fluid">
            <ul class="thumbnails">
                <li class="span3">
                    <div class="thumbnail">
                        <img alt="pages" style="height: 200px;" src="../theme/admin/img/icons/pages.png">
                        <div class="caption">
                            <h3>Pages Module</h3>
                            <p>Manage site pages</p>
                            <p><a href="#/pages/index" class="btn btn-primary">Enter</a></p>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <img alt="media" style="height: 200px;" src="../theme/admin/img/icons/media.png">
                        <div class="caption">
                            <h3>Media</h3>
                            <p>pictures and videos</p>
                            <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <img alt="settings" style="height: 200px;" src="../theme/admin/img/icons/settings.png">
                        <div class="caption">
                            <h3>Settings</h3>
                            <p>Manage site settings</p>
                            <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                        </div>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <img alt="settings" style="height: 200px;" src="../theme/admin/img/icons/settings.png">
                        <div class="caption">
                            <h3>List Modules</h3>
                            <p>Create Lists</p>
                            <p><a href="#/lists/index" class="btn btn-primary">Enter</a> <a href="#" class="btn">Action</a></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
